<div class="footer" [ngClass]="isDarkMode ? 'dark-theme' : ''">
  <div class="container">
    <div class="col col-xl-10 m-auto mt-5">
      <div class="card d-flex flex-row align-middle justify-content-center justify-items-center align-items-center">
        <div class="col-md-6 ">


          <!-- Left box content -->
          <div class="box left-box p-3 d-flex gap-3">
            <i class="bi bi-door-closed fs-4 icon-3d"
               ngbTooltip="Login"
               placement="top"
               tooltipClass="custom-tooltip"
               [openDelay]="200"
               [closeDelay]="100"></i>
            <i class="bi bi-person-circle fs-4 icon-3d"
               ngbTooltip="Profile"
               placement="top"
               tooltipClass="custom-tooltip"
               [openDelay]="200"
               [closeDelay]="100"></i>

            <!-- Wrap the gear icon and dropdown together -->
            <div class="settings-container">
              <i class="bi bi-gear fs-4 icon-3d" [class.active]="showSettingsMenu" (click)="toggleSettingsMenu($event)"
                 ngbTooltip="Settings"
                 placement="right"
                 tooltipClass="custom-tooltip"
                 [openDelay]="200"
                 [closeDelay]="100"></i>
              <div class="settings-dropdown">
                @if (showSettingsMenu) {
                  <div class="settings-menu">
                    <!-- Menu content unchanged -->
<!--                    <a class="settings-item" (click)="selectSetting('preferences')">Preferences</a>-->

<!--                    &lt;!&ndash; Announcements Toggle &ndash;&gt;-->
<!--                    <div class="settings-item toggle-container d-flex justify-content-between">-->
<!--                      <span>Announcements</span>-->
<!--                      <div class="form-check form-switch">-->
<!--                        <input class="form-check-input"-->
<!--                               type="checkbox"-->
<!--                               id="announcementsToggle"-->
<!--                               [(ngModel)]="announcementsEnabled"-->
<!--                               (change)="toggleAnnouncements()"-->
<!--                               ngbTooltip="Click to toggle"-->
<!--                               placement="right"-->
<!--                               tooltipClass="custom-tooltip"-->
<!--                               [openDelay]="200"-->
<!--                               [closeDelay]="100">-->
<!--                      </div>-->
<!--                    </div>-->

                    <!-- CheckForUpdates Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Check for Updates</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="checkForUpdatesToggle"
                               [(ngModel)]="checkForUpdatesEnabled"
                               (change)="toggleCheckForUpdates()"
                               ngbTooltip="Click to toggle"
                               placement="right"
                               tooltipClass="custom-tooltip"
                               [openDelay]="200"
                               [closeDelay]="100">
                      </div>
                    </div>

                    <!-- Dark Mode Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Dark Mode</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="darkModeToggle"
                               [(ngModel)]="darkModeEnabled"
                               (change)="toggleDarkMode()"
                               ngbTooltip="Click to toggle"
                               placement="right"
                               tooltipClass="custom-tooltip"
                               [openDelay]="200"
                               [closeDelay]="100">
                      </div>
                    </div>

                    <!-- Progressbar Mode Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Show Progress</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="ProgressbarToggle"
                               [(ngModel)]="ProgressbarEnabled"
                               (change)="toggleProgressbar()"
                               ngbTooltip="Click to toggle"
                               placement="right"
                               tooltipClass="custom-tooltip"
                               [openDelay]="200"
                               [closeDelay]="100">
                      </div>
                    </div>

                    <!-- Notifications Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Notifications</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="notificationsToggle"
                               [(ngModel)]="notificationsEnabled"
                               (change)="toggleNotifications()"
                               ngbTooltip="Click to toggle"
                               placement="right"
                               tooltipClass="custom-tooltip"
                               [openDelay]="200"
                               [closeDelay]="100">
                      </div>
                    </div>

                    <div class="divider"></div>
                    <!-- Remove user Data -->
                    <div class="settings-item toggle-container d-flex justify-content-between align-items-center">
                      <span>Remove user data</span>
                      <div class="form-check">
                        <button class="btn btn-outline-danger" (click)="removeUserData()"><i class="bi bi-trash"></i></button>
                      </div>
                    </div>
                    <a class="settings-item" (click)="showHelpModal()"
                       ngbTooltip="Click to show help"
                       placement="right"
                       tooltipClass="custom-tooltip"
                       [openDelay]="200"
                       [closeDelay]="100">Help</a>
                  </div>
                }
              </div>
            </div>
          </div>


        </div>




        <div class="col-md-6">
          <!-- Right box content -->
          <div class="box right-box p-3">
            <p>© 2025 <a href="https://damm.dev" target="_blank" title="Link to website damm.dev">Damm.dev</a>
            </p>
            <div class="footer_inline">
              <span ngbTooltip="Running AngularTasks"
                    placement="left"
                    tooltipClass="custom-tooltip"
                    [openDelay]="200"
                    [closeDelay]="100">
                v{{version}}&nbsp;|&nbsp;
              </span>
              <a href="https://github.com/AngularTasks" target="_blank" title="Link to github Repository">
                <i class="bi bi-github"
                   ngbTooltip="AngularTasks on Github"
                   placement="top"
                   tooltipClass="custom-tooltip"
                   [openDelay]="200"
                   [closeDelay]="100"></i>
              </a> |
              <a href="https://x.com" target="_blank">
                <i class="bi bi-twitter-x"
                   ngbTooltip="Visit me on Twitter"
                   placement="top"
                   tooltipClass="custom-tooltip"
                   [openDelay]="200"
                   [closeDelay]="100"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
