<div class="footer">
  <div class="container">
      <div class="col col-xl-10 m-auto mt-5">
        <div class="card d-flex flex-row align-items-center align-middle">
          <div class="col-md-6">
            <!-- Left box content -->
            <div class="box left-box p-3 d-flex gap-3">
              <i class="bi bi-door-closed fs-4 icon-3d"></i>
              <i class="bi bi-person-circle fs-4 icon-3d"></i>
              <i class="bi bi-gear fs-4 icon-3d"></i>
            </div>
          </div>
          <div class="col-md-6">
            <!-- Right box content -->
            <div class="box right-box p-3">
              <p>© 2025 <a href="https://damm.dev" target="_blank" title="Link to website damm.dev">Damm.dev</a></p>
              <div class="footer_inline">
                v{{version}}&nbsp;|&nbsp;
                <a href="https://github.com/AngularTasks" target="_blank" title="Link to github Repository"><i class="bi bi-github"></i></a> | <a href="https://x.com" target="_blank"><i class="bi bi-twitter-x"></i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>


<!--

<div class="footer">
  <div class="container">
      <div class="col col-xl-10 m-auto mt-5">
        <div class="card">
          <p>© 2025 <a href="https://damm.dev" target="_blank" title="Link to website damm.dev">Damm.dev</a></p>
<div class="footer_inline">
  <a href="https://github.com/AngularTasks" target="_blank" title="Link to github Repository"><i class="bi bi-github"></i></a> | <a href="https://x.com" target="_blank"><i class="bi bi-twitter-x"></i></a>
</div>
</div>
</div>
</div>
</div>

-->
