<div class="footer" [ngClass]="isDarkMode ? 'dark-theme' : ''">
  <div class="container">
    <div class="col col-xl-10 m-auto mt-5">
      <div class="card d-flex flex-row align-middle justify-content-center justify-items-center align-items-center">
        <div class="col-md-6 ">


          <!-- Left box content -->
          <div class="box left-box p-3 d-flex gap-3">
            <i class="bi bi-door-closed fs-4 icon-3d"></i>
            <i class="bi bi-person-circle fs-4 icon-3d"></i>

            <!-- Wrap the gear icon and dropdown together -->
            <div class="settings-container position-relative">
              <i class="bi bi-gear fs-4 icon-3d" [class.active]="showSettingsMenu" (click)="toggleSettingsMenu($event)"></i>
              <div class="settings-dropdown">
                @if (showSettingsMenu) {
                  <div class="settings-menu">
                    <!-- Menu content unchanged -->
<!--                    <a class="settings-item" (click)="selectSetting('preferences')">Preferences</a>-->

                    <!-- Announcements Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Announcements</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="announcementsToggle"
                               [(ngModel)]="announcementsEnabled"
                               (change)="toggleAnnouncements()">
                      </div>
                    </div>

                    <!-- CheckForUpdates Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Check for Updates</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="checkForUpdatesToggle"
                               [(ngModel)]="checkForUpdatesEnabled"
                               (change)="toggleCheckForUpdates()">
                      </div>
                    </div>

                    <!-- Dark Mode Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Dark Mode</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="darkModeToggle"
                               [(ngModel)]="darkModeEnabled"
                               (change)="toggleDarkMode()">
                      </div>
                    </div>

                    <!-- Progressbar Mode Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Show Progress</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="ProgressbarToggle"
                               [(ngModel)]="ProgressbarEnabled"
                               (change)="toggleProgressbar()">
                      </div>
                    </div>

                    <!-- Notifications Toggle -->
                    <div class="settings-item toggle-container d-flex justify-content-between">
                      <span>Notifications</span>
                      <div class="form-check form-switch">
                        <input class="form-check-input"
                               type="checkbox"
                               id="notificationsToggle"
                               [(ngModel)]="notificationsEnabled"
                               (change)="toggleNotifications()">
                      </div>
                    </div>

                    <div class="divider"></div>
                    <a class="settings-item" (click)="selectSetting('help')">Help</a>
                  </div>
                }
              </div>
            </div>
          </div>


        </div>




        <div class="col-md-6">
          <!-- Right box content -->
          <div class="box right-box p-3">
            <p>© 2025 <a href="https://damm.dev" target="_blank" title="Link to website damm.dev">Damm.dev</a></p>
            <div class="footer_inline">
              v{{version}}&nbsp;|&nbsp;
              <a href="https://github.com/AngularTasks" target="_blank" title="Link to github Repository"><i class="bi bi-github"></i></a> | <a href="https://x.com" target="_blank"><i class="bi bi-twitter-x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
