<div class="col col-xl-10 m-auto mb-5 mt-5">
  <div class="card" [ngClass]="isDarkMode ? 'dark-theme' : ''">
    <div class="card-body p-4">
      <p>Add a new Task</p>
      <form (ngSubmit)="addTask(taskInput.value); taskInput.value=''; $event.preventDefault()">
        <div class="form-outline flex-fill">
          <input #taskInput type="text" id="taskAdd" class="form-control" placeholder="Enter task description..." />
        </div>
        <button
          type="button"
          class="btn btn-info ms-2"
          (click)="addTask(taskInput.value);taskInput.value=''"
          ngbTooltip="Click to add a new task"
          placement="top"
          tooltipClass="custom-tooltip"
          [openDelay]="200"
          [closeDelay]="100">Add</button>
      </form>
    </div>
  </div>
</div>
