/* modal.component.css */


.modal-footer-error {
  border-top: 0;
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}

.modal-footer-confirmation {
  border-top: 0;
  border-bottom-left-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
}

.modal-header-success {
  background-color: var(--bs-success);
  color: white;
}



.modal-header-info {
  background-color: var(--bs-info);
  color: white;
}


