// Dark theme variables
:root {
  // Colors
  --background-color: rgba(53, 45, 45, 0.9);
  --surface-color: rgba(55, 32, 86, 0.35);
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --text-color: #ffffff;
  --text-secondary-color: #b3b3b3;
  --border-color: rgba(148, 99, 247, 0.75);
  --error-color: #cf6679;

  // Other styles specific to dark mode
}

// Apply theme colors to elements
.dark-theme {
  background-image: radial-gradient(circle at 50% 50%,#020514,#040718,#06091b,#080b1e,#0a0d21,#0c0f24,#0d1128,#0e122b);
  color: var(--text-color)!important;


  // Add specific component styles for dark mode
  .card, .modal {
    background-color: var(--surface-color);
    border-color: var(--border-color);
  }

  a {
    color: var(--primary-color);
  }

  button.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  // Add more component-specific dark styles as needed
}
.dark-theme li.cdk-drag-preview {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 4px;
  opacity: 0.8;
  background-color: #4c52c8!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-theme li.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dark-theme li.cdk-drag-preview > .close-btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  color: #c6b8b8;
  font-size: 18px;
  cursor: pointer;
  padding: 0 8px;
}

.dark-theme {
  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
  }

  li > label.completed-task {
    text-decoration: line-through;
    flex-grow: 1;
  }

  li > input[type="checkbox"] {
    border-radius: 0;
  }

  li > .close-btn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: #666;
    font-size: 18px;
    cursor: pointer;
    padding: 0 8px;
  }
  li > .close-btn:hover {
    color: #ff4d4f;
    font-weight: bold;
  }
  .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-right: 20px;
  }

  .badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
  }

  .badge-success {
    color: #fff;
    background-color: #9463f7;
  }
}

.dark-theme .modal-content {
  background: transparent;
  color: var(--text-color);
}
