// Dark theme variables
:root {
  // Colors
  --background-color: rgba(53, 45, 45, 0.9);
  --surface-color: rgba(55, 32, 86, 0.35);
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
  --text-color: #ffffff;
  --text-secondary-color: #b3b3b3;
  --border-color: rgba(148, 99, 247, 0.75);
  --error-color: #cf6679;

  // Other styles specific to dark mode
}

// Apply theme colors to elements
.dark-theme {
  background-image: radial-gradient(circle at 50% 50%,#020514,#040718,#06091b,#080b1e,#0a0d21,#0c0f24,#0d1128,#0e122b);
  color: var(--text-color)!important;


  // Add specific component styles for dark mode
  .card, .modal {
    background-color: var(--surface-color);
    border-color: var(--border-color);
  }

  a {
    color: var(--primary-color);
  }

  button.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  // Add more component-specific dark styles as needed
}
