<div class="filter-controls">
  <div class="filter-control-box">
    <div class="filter-links" [ngClass]="{'dark-theme': isDarkMode}">
      <span class="filter-link d-flex gap-3"
            [ngClass]="{'active-filter': filterType === -1}"
            (click)="clearFilter()"
            ngbTooltip="Show all tasks"
            placement="bottom"
            tooltipClass="custom-tooltip"
            [openDelay]="200"
            [closeDelay]="100">
        <i class="bi bi-list-task"></i> All Tasks
      </span>
      <span class="filter-link  d-flex gap-3"
            [ngClass]="{'active-filter': filterType === 1}"
            (click)="filter_by_completed()"
            ngbTooltip="Show completed tasks"
            placement="bottom"
            tooltipClass="custom-tooltip"
            [openDelay]="200"
            [closeDelay]="100">
        <i class="bi bi-check2-square"></i> Completed
      </span>
      <span class="filter-link  d-flex gap-3"
            [ngClass]="{'active-filter': filterType === 0}"
            (click)="filter_by_incomplete()"
            ngbTooltip="Show incomplete tasks"
            placement="bottom"
            tooltipClass="custom-tooltip"
            [openDelay]="200"
            [closeDelay]="100">
        <i class="bi bi-card-checklist"></i> InComplete
      </span>
    </div>
  </div>
</div>
