/* You can add global styles to this file, and also import other style files */
/*li.cdk-drag-preview {*/
/*  opacity: 0.8; !* Ajustieren Sie die Opazität des Vorschauelements *!*/
/*  background-color: #FFA500; !* Hintergrundfarbe anpassen *!*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Schatten hinzufügen *!*/
/*}*/
/* Main styles file */
@import 'styles/dark-theme.scss';

.modal-content {
  background: rgba(255, 255, 255, 0.75);
  color: #0e122b;
  border: 0;
  border-radius: 0.15rem;
}

.modal-header-error, .modal-header-confirmation {
  border-top-left-radius: 0.15rem;
  border-top-right-radius: 0.15rem;
  border-bottom: 0;
  background-color: rgba(255, 0, 0, 0.55);
  color: white;
}

.modal-footer-confirmation button.btn-primary {
  background-color: #4c8bf5;
  border: 1px solid #4c8bf5;
  color: #fff;
  border-radius: 0.15rem;
  transition: all 0.225s ease-in-out;
}

.modal-footer-confirmation button.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #4c8bf5;
  color: #0e122b;
  border-radius: 0.325rem;
  transition: all 0.225s ease-in-out;
}

.modal-footer-confirmation button.btn-secondary {
  background-color: transparent;
  border: 1px solid #4c8bf5;
  color: #0e122b;
  border-radius: 0.15rem;
  transition: all 0.225s ease-in-out;
}

.modal-footer-confirmation button.btn-secondary:hover {
  background-color: #4c8bf5;
  border: 1px solid #4c8bf5;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 0.375rem;
  transition: all 0.225s ease-in-out;
}

li > label {
  cursor: move;
}

li > label.pending-task {
  flex-grow: 1;
}

li > label.completed-task {
  text-decoration: line-through;
  flex-grow: 1;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  cursor: move;
}

li:active {
  background-color: transparent;
  border-radius: 0.15rem;
}

li > .badge-info {
  color: #fff;
  background-color: #17a2b8;
}

li > .close-btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  padding: 0 8px;
}
li > .close-btn:hover {
  color: #ff4d4f;
  font-weight: bold;
}

.fade-line-left-to-right {
  position: relative;
  height: 2px;
  width: 100%;
  background: rgba(255, 0, 0, 0.55);
  overflow: hidden;
}

.fade-line-left-to-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 50%;
  background: linear-gradient(to right, transparent, #980000, transparent);
  animation: slide-left-to-right 2.25s linear infinite;
}

@keyframes slide-left-to-right {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
