<div class="col col-xl-10 m-auto mt-5" [ngClass]="isDarkMode ? 'dark-theme' : ''">
  <div class="card">
    <div class="card-header text-center">Your Task list</div>
    <div class="card-body p-4">

      <form ngbTooltip="Drag to reorder"
            placement="bottom"
            tooltipClass="custom-tooltip"
            [openDelay]="200"
            [closeDelay]="100">
        <ul cdkDropList (cdkDropListDropped)="drop($event)">
          <li *ngFor="let task of tasks; index as id" cdkDrag>
            <input type="checkbox" id="{{task.id}}" [checked]="task.completed" (change)="updateTaskStatus(task)" />
            <label for="{{task.id}}" [ngClass]="{'completed-task': task.completed}">{{ task.description }}</label>
            @if(task.completed){<span class="badge badge-pill badge-success">Completed</span>}
            <button class="close-btn" (click)="removeTask(task.id)">×</button>

            <ng-template cdkDragPlaceholder>
              <div class="drag-placeholder">
              </div>
            </ng-template>

          </li>

        </ul>
        <p *ngIf="tasks.length === 0" class="text-muted">Nothing todo actually, have a nice day!</p>

      </form>

    </div>
  </div>
</div>
