.card {
  border-radius: 0.15rem;

  form > ul {
    max-height: 700px;
    overflow-y: auto;
  }

  form > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
  }

  form > ul > li:hover {
    background-color: #f5f5f5;
  }

  /* Für das Label - Einstellung der Breite */
  form > ul > li > label {
    flex-grow: 1;
    overflow: hidden; /* Verhindert Überlaufen */
    text-overflow: ellipsis; /* Zeigt ... wenn Text zu lang ist */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
  }

  /* Design für das Datum-Badge */
  .badge-info {
    color: #fff;
    background-color: rgba(19, 135, 153, 0.85);
  }

  form > ul > li > label.pending-task {
    flex-grow: 1;
  }

  form > ul > li > label.completed-task {
    text-decoration: line-through;
    flex-grow: 1;
  }

  form > ul > li > input[type="checkbox"] {
    border-radius: 0;
  }

  form > ul > li > .close-btn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: #666;
    font-size: 18px;
    cursor: pointer;
    padding: 0 8px;
  }
  form > ul > li > .close-btn:hover {
    color: #ff4d4f;
    font-weight: bold;
  }

  .task-id {
    color: #7f7a7a;
    font-size: 10px;
  }

}

.dark-theme .card-body::-webkit-scrollbar {
  width: 5px;
  background: rgba(108, 73, 189, 0.75);
}
.dark-theme .card-body::-webkit-scrollbar-thumb {
  background: rgba(55, 32, 86, 0.35);
}

.dark-theme .card-body::-webkit-scrollbar-thumb:hover {
  background-color: #495057;           /* Dunklere Farbe beim Hover */
}

.dark-theme .card-body::-webkit-scrollbar-track {
  background: rgba(108, 73, 189, 0.75);
  border-radius: 10px;                 /* Abgerundete Ecken */
}

li.cdk-drag-preview {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 4px;
  opacity: 0.8;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

li.cdk-drag-preview > .close-btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  padding: 0 8px;
}

.drag-placeholder {
  padding: 20px;
  border: 1px dashed #ccc;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  margin-right: 5px;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 0.25rem;
}

.badge-success {
  color: #fff;
  background-color: #9463f7;
}

li > .badge-danger {
  background-color: rgba(255, 21, 83, 0.75); /* Dunklere Variante für Dark Mode */
  border-radius: 0.15rem;
  transition: all 0.225s ease-in-out;
  animation: blink 3s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; /* Völlig sichtbar */
  }
  50% {
    opacity: 0; /* Unsichtbar */
  }

}


.dark-theme {
  color: white;

  .showOptionsGear {
    color: rgba(77, 246, 255, 0.35);
    cursor: pointer;
  }
  .showOptionsGear:hover {
    color: #9463f7;
  }

  .showOptionsGear-disabled {
    color: #666;
    cursor: pointer;
  }
  .showOptionsGear-disabled:hover {
    color: #666;
  }


  .card-body {
    max-height: 325px;
    overflow-y: auto;

    /* Scrollbar-Styling für moderne Browser */
    scrollbar-width: thin;               /* Firefox */
    scrollbar-color: rgba(55, 32, 86, 0.35) rgba(108, 73, 189, 0.75);    /* Firefox: Daumen-Farbe Track-Farbe */
  }

  form p.text-muted {
    color: rgba(255, 255, 255, 0.8) !important;
  }

  form > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
  }

  form > ul > li:hover {
    background-color: rgba(151, 87, 219, 0.15);
    border-radius: 0.15rem;
  }

  form > ul > li:active {
    background-color: transparent;
    border-radius: 0.15rem;
  }

  form > ul > li > label.pending-task {
    flex-grow: 1;
  }

  form > ul > li > label.completed-task {
    text-decoration: line-through;
    flex-grow: 1;
  }

  form > ul > li > input[type="checkbox"] {
    border-radius: 0;
  }

  form > ul > li > .close-btn {
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: #4de4ff;
    font-size: 18px;
    cursor: pointer;
    padding: 0 8px;
  }
  form > ul > li > .close-btn:hover {
    color: #4dff6b;
    font-weight: bold;
  }
  .card {
    color: white;

    .card-header {
      border-bottom: 1px solid rgba(148, 99, 247, 0.75);
    }

  }

}

.dark-theme .card .card-body form ul li.cdk-drag-preview {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 4px;
  opacity: 0.8;
  background-color: #4c52c8!important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark-theme .drag-placeholder {
  padding: 20px;
  border: 1px dashed #662694;
}

.dark-theme form > ul > li > input[type="checkbox"].form-check-input {
  background-color: #1a1a2e; /* Dark background for input */
  color: var(--text-color); /* White text */
  border-color: var(--border-color);
  border-radius: 0;
  margin-bottom: 4px;
}
